@using CodingLei.Admin.Models
@using CodingLei_Model.TableModel;
@using CodingLei_Common.Helper
@model List<InterfacesTypes>
@{
    ViewBag.Title = "InterfaceTypeResultView";
}
<style>
    table, tr,th {
        text-align: center;
    }
</style>

<table class="table table-hover">
    <colgroup>
        <col width="25%"/>
        <col width="25%"/>
        <col width="25%"/>
        <col width="40%"/>
    </colgroup>
    <thead>
    <tr>
        <th>
            接口名称
        </th>
        <th>
            接口描述
        </th>
        <th>
            添加日期
        </th>
        <th>
            操作
        </th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.InterfaceName
                </td>
                <td>
                    @item.Describe
                </td>
                <td>
                    @item.AddTime
                </td>

                <td>
                    <a href="###">编辑</a>
                    <a href="###">删除</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="danger">
            <td colspan="4">
                没有任何数据
            </td>
        </tr>
    }

    </tbody>
</table>
@Html.Pager(ConvertHelper.ConvertToInt(ViewData["TotalCount"]))